[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = "*"
rsa = "*"
rich = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"
pre-commit = "*"
ipython = "*"
flake8-annotations = "*"
flake8-bugbear = "*"
flake8-import-order = "*"

[scripts]
server = "python -m app.server"
client = "python -m app.client"
precommit = "pre-commit install"
lint = "pre-commit run --all-files"
